* ::before, ::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;

    // Adapted from https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/#dynamic-system-colors
    --dark-gray-6: rgb(15, 22, 43);
    --light-gray-6: rgb(240, 240, 250);
    --light-sys-blue: rgb(0, 64, 221);
    --dark-sys-blue: rgb(64, 156, 255);
    --light-sys-pink: rgb(211, 15, 69);
    --dark-sys-pink: rgb(255, 100, 130);
    --light-sys-indigo: rgb(54, 52, 163);
    --dark-sys-indigo: rgb(125, 122, 255);
    --bg-col: var(--light-gray-6);
    --fg-col: var(--dark-gray-6);
    --unvisited-link-col: var(--light-sys-blue);
    --active-link-col: var(--light-sys-pink);
    --visited-link-col: var(--light-sys-indigo);

    @media (prefers-color-scheme: dark) {
        --bg-col: var(--dark-gray-6);
        --fg-col: var(--light-gray-6);
        --unvisited-link-col: var(--dark-sys-blue);
        --active-link-col: var(--dark-sys-pink);
        --visited-link-col: var(--dark-sys-indigo);
    }
}

a {
    color: var(--unvisited-link-col);
    
    &:visited {
        color: var(--visited-link-col);
    }

    &:active {
        color: var(--active-link-col);
    }


}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 125%;
    line-height: 1.5;
    background-color: var(--bg-col);
    color: var(--fg-col);

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

main:focus {
    outline: none;
}

body {
    max-width: 80ch;
    margin: 0 auto;
    padding: 0.75rem;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

audio:not([controls]) {
    display:none;
}

img, svg, video, canvas {
    height: auto;
}

[hidden] {
    display: none;
}

.highlight pre {
    padding: 1rem;
    overflow-x: auto;
}
